<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ JBoss, Home of Professional Open Source
  ~ Copyright 2013 Red Hat Inc. and/or its affiliates and other contributors
  ~ as indicated by the @authors tag. All rights reserved.
  -->

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd"
	   default-autowire="no" default-init-method="init" default-destroy-method="destroy">

	<bean id="unsubscribeManager" class="org.jboss.jive.unsubscribe.services.UnsubscribeManagerImpl">
		<property name="notificationSettingsManager" ref="notificationSettingsManagerImpl"/>
		<property name="streamManager" ref="streamManagerImpl"/>
	</bean>

</beans>
